/* Dashboard */

.container {
  composes: dis-f jc-sb from "../helpers.css";
  margin-top: 3rem;
}

.month-change {
  composes: dis-f jc-sb from "../helpers.css";
  margin-top: 4rem;
}

.month-change__btn {
  composes: dis-f ai-c cur-p from "../helpers.css";
}

.month-header {
  margin: 0;
  font-size: 1.6rem;
  font-weight: normal;
}

.spending-form {
  composes: bgc-white dis-f jc-sb c-primary p-1rem mb-1rem from "../helpers.css";
  border: 2px dashed var(--brandPrimary);
  box-shadow: 0 1px 9px 0 var(--shadowGrey);
}

.spending-form__text {
  composes: dis-f fd-c ta-r from "../helpers.css";
}

.spending-form__text_box {
  height: 40px;
  line-height: 33px;
}

.spending-total {
  composes: ta-c from "../helpers.css";
  font-size: 3rem;
  font-weight: normal;
  margin-top: -19rem;
  margin-bottom: 15rem;
  position: relative;
}

.spending-form__inputs {
  margin-left: 1rem;
  margin-right: 1rem;  
}

.cat-color-circle {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  margin-right: .5rem;
}

.cat-section {
  composes: w-50 from "../helpers.css";
}

.cat-section canvas {
  margin: -4rem auto 0;
}

.cat-container {
  composes: bgc-white from "../helpers.css";
  margin: 0 5rem;
}

.cat-row {
  composes: dis-f ai-c from "../helpers.css";
  padding: .5rem;
  border-bottom: 3px solid var(--lightGrey);    
}

.cat-row__text {
  composes: flx-1 fz-1-2rem jc-sb dis-f from "../helpers.css";
}

.cat-row__price {
  composes: flx-1 ta-r from "../helpers.css";
  margin-right: 1rem;
}

.cat-form__input {
  composes: base-input from "../components/Inputs.css";
  composes: fz-1-2rem from "../helpers.css";
  height: 33px;
  padding: .4rem 1rem;  
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
  flex: 4;
}

.cat-form__submit {
  composes: base-button from "../components/Buttons.css";
  composes: bgc-primary cur-p from "../helpers.css";
  border-top-right-radius: .6rem;
  border-bottom-right-radius: .6rem;
  height: 2.4rem;
  font-size: 1.1rem;
  flex: 2;
}