/* Dashboard */

.dash-container {
  composes: dis-f jc-sb from "../helpers.css";
  margin-top: 3rem;
}

.month-change {
  composes: dis-f jc-sb from "../helpers.css";
  margin-top: 4rem;
}

.spending-form {
  composes: bgc-white from "../helpers.css";
  padding: 1rem;
  border: 1px solid var(--brandPrimary);
}