/* Buttons */

.base-button {
  composes: tr-0-5s from "../helpers.css";
  border: none;
  color: white;
}
.base-button:focus {
  outline: none;
}
.base-button:hover {
  opacity: .5;
}

.primary-btn {
  composes: fz-1-4rem cur-p w-100 bgc-primary from "../helpers.css";
  composes: base-button;
  border-radius: 2rem;
  height: 4rem;
}

