/* Buttons */

._button {
  composes: tr-0-5s from "../helpers.css";
  border-radius: 2rem;
  border: none;
  color: white;
  height: 4rem;
}
._button:focus {
  outline: none;
}
._button:hover {
  opacity: .5;
}

.primary-btn {
  composes: fz-1-4em cur-p w-100 bgc-primary from "../helpers.css";
  composes: _button;
}

