/* Inputs */

.base-input {
  box-sizing: border-box;
  border: 1px solid var(--brandPrimary);
  color: var(--brandPrimary);
}

.base-input:focus {
  outline: none;
}

.input {
  composes: fz-1-4rem br-default mb-2rem p-1rem from "../helpers.css";
  composes: base-input;
}

.input-small {
  composes: base-input;
  composes: w-100 br-default fz-1rem from "../helpers.css";
  height: 33px;
  padding: .4rem 1rem;
}

.input-spending-form {
  composes: input-small;
  composes: mb-05rem bgc-white from "../helpers.css";
}

.input-spending-form-price {
  composes: base-input;
  composes: mb-1rem fz-1-4rem bgc-white w-100 p-1rem from "../helpers.css";
  height: 3.2rem;
}