/* Inputs */

._input {
  border-radius: .6rem;
  box-sizing: border-box;
  border: 1px solid var(--brandPrimary);
  color: var(--brandPrimary);
}

._input:focus {
  outline: none;
}

.input {
  composes: fz-1-4rem mb-2rem p-1rem from "../helpers.css";
  composes: _input;
}

.input-small {
  composes: _input;
  composes: w-100 fz-1rem from "../helpers.css";
  height: 33px;
  padding: .4rem 1rem;
}

.input-spending-form {
  composes: input-small;
  composes: mb-05rem bgc-white from "../helpers.css";
}

.input-spending-form-price {
  composes: _input;
  composes: mb-1rem fz-1-4rem bgc-white w-100 p-1rem from "../helpers.css";
  height: 3.2rem;
}