/* Layout */


.main-header {
  composes: bgc-primary h-6rem from "../helpers.css";
}

.main-header__logo {
  width: 10rem;
}

.header-link {
  composes: cur-p c-white from "../helpers.css";
  text-decoration: none;
  margin-right: .5rem;
}
.header-link:hover {
  text-decoration: underline;
}
.header-link:last-of-type {
  margin-right: 0;
}

.container {
  composes: mx-a from "../helpers.css";
  width: var(--desktopWidth);
}

.header-container {
  composes: container;
  composes: dis-f jc-sb c-white h-6rem ai-c from "../helpers.css";
}

.sticky-footer {
  composes: container;
  composes: flx-1 from "../helpers.css";
}

.footer {
  background-color: var(--shadowGrey);
  padding: .7rem;
}
