/* Layout */


.main-header {
  composes: bgc-primary h-6rem from "../helpers.css";
}

.main-header__logo {
  width: 10rem;
}

.container {
  composes: mx-a from "../helpers.css";
  width: var(--desktopWidth);
}

.header-container {
  composes: container;
  composes: dis-f jc-sb c-white h-6rem ai-c from "../helpers.css";
}