/* Layout */


.main-header {
  composes: bgc-primary from "../helpers.css";
  height: 6rem;
}

.main-header__logo {
  width: 10rem;
}

.container {
  composes: mx-a from "../helpers.css";
  width: var(--desktopWidth);
}

.header-container {
  composes: container;
  composes: dis-f jc-sb c-white from "../helpers.css";
  align-items: center;
  height: 6rem;
}