:root {
  --brandPrimary: #33D8BB;
  --brandSecondary: #A964F1;
  --desktopWidth: 86rem;
  /* font-family : 'Helvetica Neue', Helvetica, Arial, sans-serif; */
  font-size: 14px;    
}

body {
  margin: 0;
  padding: 0;
}

:global .dis-f {
  display: flex;
}

:global .jc-sb {
  justify-content: space-between;
}

:global .fd-c {
  flex-direction: column;
}