:root {
  --brandPrimary: #33D8BB;
  --brandSecondary: #A964F1;
  --lightGrey: #f8f8f8;
  --mediumGrey: #a6a6a6;
  --desktopWidth: 73rem;
  font-size: 14px;    
}

body {
  background-color: var(--lightGrey);
  margin: 0;
  padding: 0;
}

::placeholder {
    color: #ccc;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #ccc;
}

::-ms-input-placeholder {
    color: #ccc;
}

:global .dis-f {
  display: flex;
}

:global .jc-sb {
  justify-content: space-between;
}

:global .fd-c {
  flex-direction: column;
}

:global .w-50 {
  width: 50%;
}