/* Helper classes */


.ai-c {
  align-items: center;
}

.bgc-primary {
  background-color: var(--brandPrimary);
}

.bgc-secondary {
  background-color: var(--brandSecondary);
}

.bgc-white {
  background-color: white;
}

.br-default {
  border-radius: var(--defaultBorderRadius);
}

.c-white {
  color: white;
}

.c-primary {
  color: var(--brandPrimary);
}

.cur-p {
  cursor: pointer;
}

.dis-f {
  display: flex;
}

.flx-1 {
  flex: 1;
}

.fd-c {
  flex-direction: column;
}

.fz-1rem {
  font-size: 1rem;
}

.fz-1-2rem {
  font-size: 1.2rem;
}

.fz-1-4rem {
  font-size: 1.4rem;
}

.fz-2rem {
  font-size: 2rem;
}

.fw-n {
  font-weight: normal;
}

.h-6rem {
  height: 6rem;
}

.h-100vh {
  height: 100vh;
}

.jc-sb {
  justify-content: space-between;
}

.mb-05rem {
  margin-bottom: .5rem;  
}

.mb-1rem {
  margin-bottom: 1rem;  
}

.mb-2rem {
  margin-bottom: 2rem;  
}

.mx-a {
  margin-left: auto;
  margin-right: auto;
}

.p-1rem {
  padding: 1rem;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.trsf-180deg {
  transform: rotate(180deg);
}

.tr-0-5s {
  transition: .5s;
}

.w-100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 {
  width: 50%;
}

.w-30 {
  width: 30%;
}

.w-10 {
  width: 10%;
}